.navigation {
  padding: 0;

  form {
    margin: 1rem;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 0 1rem;
  }

  .navbar-toggler {
    margin: 0 1rem 0 0;
  }

  .navbar-nav {
    padding: 0 0 0 1rem;
  }

  &__link {
    font-weight: 500;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 0;

    &__image {
      width: 9.375rem;
      height: 4.688rem;
      margin-right: 1rem;
    }

    &__title {
      font-size: 1.5rem;
    }
  }
}
